JWT_SECRET=
DATABASE_URL=
REDIS_URL=

PINECONE_API_KEY=
OPENAI_API_KEY=

CLIENT_URL=

ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=12345678

MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME=
MAIL_SERVER=
MAIL_PORT=
MAIL_STARTTLS=
MAIL_SSL_TLS=

